/*navigation in header*/
body {
    margin: 0;
    font-family: Georgia, Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: rgb(34, 34, 34);
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

/*"shop jouw box" button*/
.shopjouwbox_button {
    background-color: rgb(34, 34, 34);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    text-transform: uppercase;
  }

/*"In winkelmand" button*/
.inwinkelmand_button {
    background-color: rgb(34, 34, 34);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    text-transform: uppercase;
}
