
/* Algemene Custom Properties */
:root {
  --main-color:#333;
  --background-color: #fff;
  --background-highlight-color:#eeeeee;
}





/* Algemene Stijlen */
body {
  margin: 0;
  padding: var(--white-space);
  background-color: var(--background-color);
  font-family: 'Times New Roman', Georgia, Arial, Helvetica, sans-serif;
  color: var(--main-color);
}





/* HAMBURGER MENU - beide pagina's */
header > nav button {
	background-color: #453F3F;
  height: 3em;
	width: 3em;
}

header > nav button span {
  color: white;
}

header > nav ul {
	display: none;
	list-style: none;
	padding: 0;
	margin: 0;
	flex-direction: column;
}

header > nav li {
	padding: .5em;
	margin: 0;
	background: #453F3F;
  width: 30%;
  font-size: 1em;
}

header > nav li a {
  color: white;
}

header > nav ul.open-menu {
	display: flex;
}





/* FOOTER - Homepage */
.home footer {
  width: 100vw;
  height: 25em;
  background-color: #1A1919;
}

.home footer > ul:first-of-type {
  position:relative;
  margin:5vw 0 0 0;
  padding:1em;
  list-style:none;
}

.home footer > ul:first-of-type {
  display:flex;
  justify-content: center;
  justify-content:space-between;
}

.home footer > section:first-of-type img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  height: 6em;
  width: 6em;
}





/* FOOTER - Scented Candle page */
.candle footer {
  width: 100vw;
  height: 15em;
  background-color: #1A1919;
}

.candle footer > ul:first-of-type {
  position: relative;
  margin: 5vw 0 0 0;
  padding: 1em;
  list-style:none;
}

.candle footer > ul:first-of-type {
  display:flex;
  justify-content: center;
  justify-content:space-between;
}

.candle footer > section:first-of-type img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  height: 6em;
  width: 6em;
}





/* (FIXED) BUTTON - Feedback homepagina */
.home main > section:nth-of-type(2) {
  position: fixed;
  z-index: 5;

  margin: 0;
  padding: .5em;
  
  background-color: rgb(34, 34, 34);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .9em;
  cursor: pointer;
  text-transform: uppercase;
  
  writing-mode:vertical-rl;
}

.home main > section:nth-of-type(2) :hover{
  background-color: gray;
  border-radius: 10%;
  transition: .5s;
}

.home main > section:nth-of-type(2) a{
  color:beige;
}

.home main > section:nth-of-type(2) a:hover{
  color: red;
}





/* (FIXED) BUTTON - Feedback scented candle */
.candle main > section:nth-of-type(2) {
  position: fixed;
  z-index: 5;

  margin: 0;
  padding: .5em;
  
  background-color: rgb(34, 34, 34);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .9em;
  cursor: pointer;
  text-transform: uppercase;
  
  writing-mode:vertical-rl;
}

.candle main > section:nth-of-type(2) :hover{
  background-color: gray;
  border-radius: 10%;
  transition: .5s;
}

.candle main > section:nth-of-type(2) a{
  color:beige;
}

.candle main > section:nth-of-type(2) a:hover{
  color: red;
}










/* Homepage - MAIN: SECTION 1 - ARTICLE (1) */
.home main > section:first-of-type {
  display: block;
  width: 100vw;
  height: 20em;
  background-image: url(../images/2021_May_Green_Friday_Ayurveda_Refills.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

/* H1 - Homepage (onzichtbaar) */
.home main > section:first-of-type h1 {
  font-size: .5em;
  visibility: hidden;
}

/* H2 - Titel: Green Friday Box */
.home main > section:first-of-type h2 {
  text-align: center;
  text-decoration: none;
  color:white;
  font-size: 2em;
  font-weight: lighter;
  text-shadow: 0.15em .1em 0.2em black;
}

/* PARAGRAPH - Inleiding: Green Friday Box */
.home main > section:first-of-type p {
  text-align: center;
  text-decoration: none;
  color:white;
  font-size: 1.2em;
  font-weight: lighter;
  line-height: 1.2em;
  text-shadow: 0.15em .1em 0.2em black;
  letter-spacing: .15em;
}

/* BUTTON - Shop jouw box */
.home main > section:first-of-type a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;

  width: 40%;
  height: 80%;
  padding: 1em;

  background-color: rgb(34, 34, 34);
  color: white;
  font-size: 1.1em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 1s;
  font-weight: lighter;
  border: none;
  cursor: pointer;
  box-shadow: .2em .2em .5em black;
}

.home main > section:first-of-type a:hover{
  background-color: royalblue;
  color: aquamarine;
  /* transition: 1s; */
}

.home main > section:first-of-type(2){
  display: block;
  position: relative;
  width: 100vw;
}





/* Homepage - MAIN: SECTION 3 - ARTICLE 1 */
/* H2 - Titel: Home Collection */
.home main > section:nth-of-type(3) article:first-of-type h3 {
  text-align: center;
  text-decoration: none;
  color: #1A1919;
  font-size: 1.9em;
  font-weight: lighter;
}

/* PARAGRAPH - Beschrijving: Home Collection */
.home main > section:nth-of-type(3) article:first-of-type p {
  text-align: center;
  text-decoration: none;
  color: #1A1919;
  font-size: 1.2em;
  line-height: 1.2em;
  letter-spacing: .15em;
}

/* BUTTON - Ontdek nu*/
.home main > section:nth-of-type(3) article:first-of-type a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;

  width: 30%;
  padding: 1em;

  background-color: white;
  color: #1A1919;
  border: solid;
  border-width: .1em;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  cursor: pointer;
  text-transform: uppercase;
}

/* IMAGE - Home Collection */
.home main > section:nth-of-type(3) article:first-of-type img {
  display: block;
  margin-top: 2em;
  width: 100vw;
}





/* Homepage - MAIN: SECTION 3 - ARTICLE 2 */
/* H2 - Titel: Handwash */
.home main > section:nth-of-type(3) article:nth-of-type(2) h3 {
  text-align: center;
  text-decoration: none;
  color: #1A1919;
  font-size: 2em;
  font-weight: lighter;
}

/* PARAGRAPH 1 - (Ondertiteling:) Private collection */
.home main > section:nth-of-type(3) article:nth-of-type(2) p:first-of-type {
  font-size: .9em;
  text-align: center;
  text-decoration: none;
  color: #9A7B69;
  font-weight: lighter;
  letter-spacing: .15em;
  text-transform: uppercase;
}

/* PARAGRAPH 2 - Naam en prijs (TOEVOEGEN) */
.home main > section:nth-of-type(3) article:nth-of-type(2) p:nth-of-type(2) {
  text-align: center;
  text-decoration: none;
  color: #1A1919;
  font-size: 1.2em;
  line-height: 1.2em;
  letter-spacing: .15em;
}


/* IMAGE - Handwash */
.home main > section:nth-of-type(3) article:nth-of-type(2) img {
  display: block;
  margin-top: 2em;
  width: 100vw;
}

/* BUTTON - Shop nu */
.home main > section:nth-of-type(3) article:nth-of-type(2) a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;

  width: 40%;
  padding: 1em;

  background-color: rgb(34, 34, 34);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.1em;
  cursor: pointer;
  text-transform: uppercase;
}





/* Homepage - MAIN: SECTION 3 - ARTICLE 3 */
/* H2 - Titel: Serendipity */
.home main > section:nth-of-type(3) article:nth-of-type(3) h3 {
  text-align: center;
  text-decoration: none;
  color: #1A1919;
  font-size: 2em;
  font-weight: lighter;
}

/* PARAGRAPH - Serendipity */
.home main > section:nth-of-type(3) article:nth-of-type(3) p {
  text-align: center;
  text-decoration: none;
  color: #1A1919;
  font-size: 1.2em;
  line-height: 1.2em;
  letter-spacing: .15em;
}

/* BUTTON - Shop nu */
.home main > section:nth-of-type(3) article:nth-of-type(3) a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;

  width: 40%;
  padding: 1em;

  background-color: rgb(34, 34, 34);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.1em;
  cursor: pointer;
  text-transform: uppercase;
}

/* IMAGE - Serendipity */
.home main > section:nth-of-type(3) article:nth-of-type(3) img {
  display: block;
  margin-top: 2em;
  width: 100vw;
}





/* Homepage - MAIN: SECTION 3 - ARTICLE 4 */
/* H2 - Ontdek My Rituals */
.home main > section:nth-of-type(3) article:nth-of-type(4) h3 {
  text-align: center;
  text-decoration: none;
  color: #1A1919;
  font-size: 2em;
  font-weight: lighter;
}

/* PARAGRAPH 1 - Beschrijving */
.home main > section:nth-of-type(3) article:nth-of-type(4) p {
  text-align: center;
  text-decoration: none;
  color: #1A1919;
  font-size: 1.2em;
  line-height: 1.2em;
  letter-spacing: .15em;
}

/* IMAGE - My Rituals */
.home main > section:nth-of-type(3) article:nth-of-type(4) img {
  display: block;
  margin-top: 2em;
  width: 100vw;
}

/* BUTTON - word member */
.home main > section:nth-of-type(3) article:nth-of-type(4) a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;

  width: 40%;
  padding: 1em;

  background-color: rgb(34, 34, 34);
  border: none;
  cursor: pointer;
  font-size: 1.1em;
  text-align: center;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: lighter;
}



















/*PAGINA 2!!*/
/* Scented Candle page - HEADER: SECTION (LINK) */
.candle header > section:first-of-type a {
  position: relative;
  left: 1em;

  font-size: 1.2em;
  text-align: left;
  color: #9A7B69;
  letter-spacing: .15em;
  text-transform: uppercase;
}

.candle header > section:first-of-type a:hover {
  color: #1e2e66;
  border-radius: 10%;
  transition: .5s;
}





/* Scented Candle page - MAIN: ARTICLE 1 */
.candle main > section:first-of-type {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  width: 100vw;
  height: 80em;
  background-color: white;
}

/* H2 - Titel: serendipity */
.candle main > section:first-of-type h2 {
  text-align: center;
  text-decoration: none;
  color: #1A1919;
  font-size: 1.2em;
  font-weight: lighter;
  text-transform: uppercase;
}

/* H3 - Kopje: Scented candle */
.candle main > section:first-of-type h3 {
  text-align: center;
  text-decoration: none;
  color: #1A1919;
  font-size: 1.9em;
  font-weight: lighter;
}

/* PARAGRAPH 3 - Beschrijving: Geurkaars info */
.candle main > section:first-of-type p {
  text-align: center;
  text-decoration: none;
  color: #1A1919;
  font-size: 1.2em;
  line-height: 1.2em;
  letter-spacing: .15em;
}

/* PARAGRAPH 2 - Prijs candle */
.candle main > section:first-of-type p:nth-of-type(3) {
  text-align: center;
  text-decoration: none;
  color: #1A1919;
  font-size: 2.5em;
  line-height: 1.2em;
}

/* UNORDERED LIST - lijst info */
.candle main > section:first-of-type ul {
  font-size: 1.1em;
  text-align: left;
  text-decoration: none;
  color: #1A1919;
  font-weight: lighter;
  letter-spacing: .15em;
  text-transform: uppercase;
}

/* BUTTON - winkelmand */
.candle main > section:first-of-type a:first-of-type {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  width: 60%;
  padding: 1em;

  background-color: rgb(34, 34, 34);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.1em;
  cursor: pointer;
  text-transform: uppercase;
}

/* LINK - beschikbaarheid */
.candle main > section:first-of-type a:nth-of-type(2) {
  display: block;
  margin-top: 3em;

  font-size: 1.2em;
  text-align: center;
  color: #9A7B69;
  font-weight: lighter;
  letter-spacing: .15em;
  text-transform: uppercase;
}

/* IMAGE - Serendipity candle */
.candle main > section:first-of-type img {
  width: 100vw;
  height: 30em;
  top: .5em;
  object-fit: cover;
}






/* Scented Candle page - MAIN: SECTION 3, ARTICLE 1 */
.candle main > section:nth-of-type(3) article:first-of-type {
  display: block;
  width: 100vw;
  height: 20em;
  background-image: url(../images/scented_candle_2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* H3 - Titel: SACRED OIL ELIXIR */
.candle main > section:nth-of-type(3) article:first-of-type h3 {
  color: white;
  text-align: left;
  font-size: 2em;
  text-transform: uppercase;
  text-shadow: 0.15em .1em 0.2em black;
}

/* PARAGRAPH - Beschrijving: Sacred Oil Elixir */
.candle main > section:nth-of-type(3) article:first-of-type p {
  color: white;
  text-align: left;
  font-size: 1.5em;
  text-shadow: 0.15em .1em 0.2em black;
}





/* Scented Candle page - MAIN: SECTION 3, ARTICLE 2 */
/* H3 - Instructies */
.candle main > section:nth-of-type(3) article:nth-of-type(2) h3 {
  font-size: 2.5em;
  text-align: center;
  text-decoration: none;
  color: #1A1919;
  font-weight: lighter;
  letter-spacing: .15em;
}

/* PARAGRAPH - Instructies */
.candle main > section:nth-of-type(3) article:nth-of-type(2) p {
  text-align: center;
  text-decoration: none;
  color: #1A1919;
  font-size: 1.2em;
  line-height: 1.2em;
  letter-spacing: .15em;
}





/* Scented Candle page - MAIN: SECTION 3, ARTICLE 3 */
.candle main > section:nth-of-type(3) article:nth-of-type(3){
  display: block;
  width: 100vw;
  height: 20em;
  background-image: url(../images/IMG_8831.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* H3 - Collectie ontdekken */
.candle main > section:nth-of-type(3) article:nth-of-type(3) h3 {
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: lighter;
  letter-spacing: .15em;
  text-transform: uppercase;
}

/* PARAGRAPH 1 - Ervaar onverwacht geluk */
.candle main > section:nth-of-type(3) article:nth-of-type(3) p:first-of-type {
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 2em;
  line-height: 1.2em;
  letter-spacing: .15em;
}

/* PARAGRAPH 2 - Tekst over collectie */
.candle main > section:nth-of-type(3) article:nth-of-type(3) p:nth-of-type(2) {
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
  line-height: 1.2em;
  letter-spacing: .15em;
}

/* BUTTON - Ontdek de collectie */
.candle main > section:nth-of-type(3) article:nth-of-type(3) a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;

  width: 40%;
  padding: 1em;

  background-color: rgb(34, 34, 34);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.1em;
  cursor: pointer;
  text-transform: uppercase;
}





/* H3 - Kopje: anderen bekeken ook */
.candle main > section:nth-of-type(3) section:first-of-type {
  display: block;
  margin-top: 3em;

  text-align: center;
  text-decoration: none;
  color: #1A1919;
  font-size: 1.8em;
  line-height: 1.2em;
  font-weight: lighter;
}





/* Scented Candle page - MAIN: SECTION 3, ARTICLE 4*/
/* H4 - Body scrub */
.candle main > section:nth-of-type(3) article:nth-of-type(4) h4 {
  text-align: left;
  text-decoration: none;
  color: #1A1919;
  font-size: 2.5em;
  line-height: 1.2em;
  font-weight: bolder;
}

/* PARAGRAPH 1 - Limited edition */
.candle main > section:nth-of-type(3) article:nth-of-type(4) p:first-of-type {
  text-align: left;
  text-decoration: none;
  color: #1A1919;
  font-size: 1.8em;
  line-height: 1.2em;
  font-weight: lighter;
}

/* PARAGRAPH 2 - Body scrub info */
.candle main > section:nth-of-type(3) article:nth-of-type(4) p:nth-of-type(2) {
  text-align: left;
  text-decoration: none;
  color: #767676;
  font-size: 1.5em;
  line-height: 1.2em;
  font-weight: lighter;
  letter-spacing: .15em;
}

/* PARAGRAPH 3 - Prijs */
.candle main > section:nth-of-type(3) article:nth-of-type(4) p:last-of-type {
  text-align: left;
  text-decoration: none;
  color: #1A1919;
  font-size: 2em;
  line-height: 1.2em;
  font-weight: lighter;
}

/* BUTTON - Winkelmand */
.candle main > section:nth-of-type(3) article:nth-of-type(4) a:first-of-type {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

  border: solid;
  border-width: .1em;
  color: #1A1919;
  padding: .9em 2em;
  text-align: center;
  text-decoration: none;
  font-size: 1.1em;
  cursor: pointer;
  text-transform: uppercase;
}

/* IMAGE - Body scrub */
.candle main > section:nth-of-type(3) article:nth-of-type(4) img {
  width: 100vw;
  height: 30em;
  object-fit: cover;
}





/* Scented Candle page - MAIN: SECTION 3, ARTICLE 5 */
/* H4 - Foaming shower gel */
.candle main > section:nth-of-type(3) article:nth-of-type(5) h4 {
  text-align: left;
  text-decoration: none;
  color: #1A1919;
  font-size: 2.5em;
  line-height: 1.2em;
  font-weight: lighter;
}

/* PARAGRAPH 1 - Limited edition */
.candle main > section:nth-of-type(3) article:nth-of-type(5) p:first-of-type {
  text-align: left;
  text-decoration: none;
  color: #1A1919;
  font-size: 1.8em;
  line-height: 1.2em;
  font-weight: lighter;
}

/* PARAGRAPH 2 - Foaming gel info */
.candle main > section:nth-of-type(3) article:nth-of-type(5) p:nth-of-type(2) {
  text-align: left;
  text-decoration: none;
  color: #767676;
  font-size: 1.5em;
  line-height: 1.2em;
  font-weight: lighter;
  letter-spacing: .15em;
}

/* PARAGRAPH 3 - Prijs */
.candle main > section:nth-of-type(3) article:nth-of-type(5) p:last-of-type {
  text-align: left;
  text-decoration: none;
  color: #1A1919;
  font-size: 2em;
  line-height: 1.2em;
  font-weight: lighter;
}

/* BUTTON - Winkelmand */
.candle main > section:nth-of-type(3) article:nth-of-type(5) a:first-of-type {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

  border: solid;
  border-width: .1em;
  color: #1A1919;
  padding: .9em 2em;
  text-align: center;
  text-decoration: none;
  font-size: 1.1em;
  cursor: pointer;
  text-transform: uppercase;
}

/* IMAGE - Foaming shower gel */
.candle main > section:nth-of-type(3) article:nth-of-type(5) img {
  width: 100vw;
  height: 33em;
  object-fit: cover;
}





/* Scented Candle page - MAIN: SECTION 3, ARTICLE 6 */
/* H4 - Bath Foam */
.candle main > section:nth-of-type(3) article:nth-of-type(6) h4 {
  text-align: left;
  text-decoration: none;
  color: #1A1919;
  font-size: 2.5em;
  line-height: 1.2em;
  font-weight: lighter;
}

/* PARAGRAPH 1 - Limited edition */
.candle main > section:nth-of-type(3) article:nth-of-type(6) p:first-of-type {
  text-align: left;
  text-decoration: none;
  color: #1A1919;
  font-size: 1.8em;
  line-height: 1.2em;
  font-weight: lighter;
}

/* PARAGRAPH 2 - Bath foam info */
.candle main > section:nth-of-type(3) article:nth-of-type(6) p:nth-of-type(2) {
  text-align: left;
  text-decoration: none;
  color: #767676;
  font-size: 1.5em;
  line-height: 1.2em;
  font-weight: lighter;
  letter-spacing: .15em;
}

/* PARAGRAPH 3 - Prijs */
.candle main > section:nth-of-type(3) article:nth-of-type(6) p:last-of-type {
  text-align: left;
  text-decoration: none;
  color: #1A1919;
  font-size: 2em;
  line-height: 1.2em;
  font-weight: lighter;
}

/* BUTTON - Winkelmand */
.candle main > section:nth-of-type(3) article:nth-of-type(6) a:first-of-type {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

  border: solid;
  border-width: .1em;
  color: #1A1919;
  padding: .9em 2em;
  text-align: center;
  text-decoration: none;
  font-size: 1.1em;
  cursor: pointer;
  text-transform: uppercase;
}

/* IMAGE - Bath Foam */
.candle main > section:nth-of-type(3) article:nth-of-type(6) img {
  width: 100vw;
  height: 50em;
  object-fit: cover;
}









/* MEDIA QUERIES - HOMEPAGINA */
@media(min-width: 480px) {
  .home main > section:nth-of-type(2) {
    font-size: 1.1em;
    padding: .6em;
  }
}


@media(min-width: 600px) {
  .home main > section:nth-of-type(2) {
    font-size: 1.3em;
    padding: .7em;
  }

  .home main > section:nth-of-type(3) article:first-of-type h3 {
    font-size: 2.1em;
  }

  .home main > section:nth-of-type(3) article:first-of-type p {
    font-size: 1.5em;
    letter-spacing: .1em;
  }

  .home main > section:first-of-type h2 {
    font-size: 2.3em;
  }

  .home main > section:first-of-type p {
    font-size: 1.5em;
    letter-spacing: .1em;
  }

  .home main > section:nth-of-type(3) article:nth-of-type(2) h3 {
    font-size: 2.1em;
  }

  .home main > section:nth-of-type(3) article:nth-of-type(2) p:first-of-type {
    font-size: 1.2em;
  }

  .home main > section:nth-of-type(3) article:nth-of-type(2) p:nth-of-type(2) {
    font-size: 1.5em;
  }

  .home main > section:nth-of-type(3) article:nth-of-type(3) p {
    font-size: 1.5em;
    letter-spacing: .1em;
  }

  .home main > section:nth-of-type(3) article:nth-of-type(4) p {
    font-size: 1.5em;
    letter-spacing: .1em;
  }

  .home main > section:nth-of-type(3) article:nth-of-type(4) a {
    font-size: 1.2em;
  }

  .home main > section:nth-of-type(3) article:first-of-type a {
    font-size: 1.2em;
  }
}










/* MEDIA QUERIES - CANDLE PAGINA */
@media(min-width: 610px) {
  .candle main > section:first-of-type h2 {
    font-size: 1.4em;
  }

  .candle main > section:first-of-type h3 {
    font-size: 2.1em;
  }


  .candle main > section:first-of-type p {
    font-size: 1.4em;
    letter-spacing: .1em;
  }

  .candle main > section:first-of-type img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .candle main > section:nth-of-type(3) article:nth-of-type(4) img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .candle main > section:nth-of-type(3) article:nth-of-type(5) img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .candle main > section:nth-of-type(3) article:nth-of-type(6) img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .candle main > section:nth-of-type(3) article:nth-of-type(2) p {
    font-size: 1.4em;
  }

  .candle main > section:nth-of-type(3) article:nth-of-type(3) a {
    font-size: 1.2em;
  }
}

@media(max-width: 490px) {
  .candle main > section:nth-of-type(3) article:nth-of-type(3) {
    height: 25em;
  }
}